/**
 * @file overrides.css
 *
 * Override some of tuktuk to make it more
 * friendly for drupal.
 */
.block {
  margin-bottom: 15px;
}
.logo {
  margin-top: 11px;
  max-height: 28px;
}
.tapquo > img {
  max-height: 48px;
}
img.responsive {
  max-width: 100%;
}
#menu > li > a {
  line-height: 2.5em;
  margin: 0 5px;
  padding: 15px;
}
#menu > li > a:hover {
  color: #34495e !important;
}
.sidebar {
  margin: 0px 16px 0px 16px;
}
body,
html {
  height: 100%;
}
body {
  margin-bottom: 150px;
}
p {
  margin: 10px 0;
}
.region-sidebar-first .button {
  width: 100%;
  margin: 0;
}
.region-sidebar-second .button {
  width: 100%;
  margin: 0;
}
.search-advanced .form-type-checkboxes {
  width: 250px;
}
* {
  outline: none;
}
.comment-links {
  font-size: 13px;
}
.node.node-teaser {
  margin: 30px 0px;
}
.content .links.inline > li > a {
  text-decoration: underline;
}
.region-page-top.padding {
  padding: 0 !important;
}
@media screen and (max-width: 767px) {
  #menu > li > a {
    padding: 10px;
    line-height: 0.5em;
  }
}
