.messages {
	margin: 0px 20px 10px 20px !important;

	a:link {
		color: #FFF !important;
		text-decoration: underline;
	}

	&.error {
		background-color: @ERROR-COLOR;
		border: 1px solid @ERROR-COLOR-BORDER;
		background-image: none;
		color: #FFF;
	}

	&.warning {
		background-color: @WARNING-COLOR;
		border: 1px solid @WARNING-COLOR-BORDER;
		background-image: none;

		a:link {
			color: #333 !important;
		}
	}

	&.status {
		background-color: @STATUS-COLOR;
		border: 1px solid @STATUS-COLOR-BORDER;
		background-image: none;
		color: #FFF;
	}
}
