[data-tuktuk=boxes] {
	.display-box();
	.box-pack(justify);
	overflow: hidden;

	& > aside,
	& > section {
		.display-box();

		& > header,
		> footer,
		> div > header,
		> div > footer {
			.box-flex(0);
			display: block;
			height: @HEADER-HEIGHT;
			line-height: @HEADER-HEIGHT;
			padding: 0 @AIR;
		}

		& article {
			.box-flex(1);
			height: @FIREFOX-FLEX-HACK;
		}
	}

	& > aside {
		z-index: 2;
		.box-flex(0);
		min-width: @ASIDE-WIDTH;
		margin: 0 !important;
		float: none !important;

		&.absolute {
			position: absolute;
			height: inherit;

			&:not(.right) {
				.transform(translateX(-512px));
			}

			&.right {
				.transform(translateX(512px));
				right: 0px;
			}

			&.active {
				.transform(translateX(0)) !important;
			}
		}
	}

	& > section {
		.box-flex(1);
		z-index: 0;
	}

	& > aside,
	& > section {
		& .session {
			height: inherit;
			& > * {
				display: inline-block;
				float: left;
			}
		}
	}
}
