body {
  &:not(.color):not(.dark) a {
    color: @THEME-DARK;

    &:not(.button) {
      &:hover,
      &:active {
        color: @THEME-THEME;
      }
    }
  }
  &:not(.theme):not(.light) a {
    color: @THEME-DARK;
  }

}
