.vendorValue(@prop, @value) {
	-webkit-@{prop}: @value;
	-moz-@{prop}: @value;
	-ms-@{prop}: @value;
	-o-@{prop}: @value;
	@prop: @value;
}

.vendorValueNoMS(@prop, @value) {
	-webkit-@{prop}: @value;
	-moz-@{prop}: @value;
	-o-@{prop}: @value;
	@prop: @value;
}

.vendorWebkit(@prop, @value) {
	-webkit-@{prop}: @value;
}

.vendorMoz(@prop, @value) {
	-moz-@{prop}: @value;
}

.vendorMS(@prop, @value) {
	-ms-@{prop}: @value;
}

.vendorO(@prop, @value) {
	-o-@{prop}: @value;
}

.animation(@anim) {
	.vendorWebkit(animation, @anim);
	.vendorMoz(animation, @anim);
	.vendorO(animation, @anim);
	.vendorMS(animation, @anim);
	animation: @anim;
}

.animation-fill-mode(@animfillmode) {
	.vendorWebkit(animation-fill-mode, @animfillmode);
	.vendorMoz(animation-fill-mode, @animfillmode);
	.vendorO(animation-fill-mode, @animfillmode);
	.vendorMS(animation-fill-mode, @animfillmode);
	animation-fill-mode: @animfillmode;
}

.border-radius(@radi) {
	border-radius: @radi;
	.vendorWebkit(border-radius, @radi);
	.vendorMoz(border-radius, @radi);
	.vendorO(border-radius, @radi);
	.vendorMS(border-radius, @radi);
}

.box-shadow(@box-shadow) {
	box-shadow: @box-shadow;
	.vendorWebkit(box-shadow, @box-shadow);
	.vendorMoz(box-shadow, @box-shadow);
	.vendorO(box-shadow, @box-shadow);
	.vendorMS(box-shadow, @box-shadow);
}

.background-size(@bg-size) {
	.vendorValue(background-size, @bg-size);
}

.text-shadow(@txtshadow) {
	.vendorValue(text-shadow, @txtshadow);
}

.backface-visibility(@bf-visibility) {
	.vendorValue(backface-visibility, @bf-visibility);
}

.display-box() {
	display: box;
	.vendorWebkit(display, box);
	.vendorMoz(display, box);
	.vendorO(display, box);
	display: -ms-flexbox;
}

.box-pack(@box-pack) {
	.vendorWebkit(box-pack, @box-pack);
	.vendorMoz(box-pack, @box-pack);
	.vendorO(box-pack, @box-pack);
	box-pack: @box-pack;
	-ms-flex-pack: @box-pack;
}

.box-align(@box-align) {
	.vendorWebkit(box-align, @box-align);
	.vendorMoz(box-align, @box-align);
	.vendorO(box-align, @box-align);
	box-align: @box-align;
	-ms-flex-align: @box-align;
}

.box-sizing(@box-sizing) {
	.vendorWebkit(box-sizing, @box-sizing);
	.vendorMoz(box-sizing, @box-sizing);
	.vendorO(box-sizing, @box-sizing);
	.vendorMS(box-sizing, @box-sizing);
	box-sizing: @box-sizing;
}

.box-orient(@box-orient) {
	.vendorWebkit(box-orient, @box-orient);
	.vendorMoz(box-orient, @box-orient);
	.vendorO(box-orient, @box-orient);
	box-orient: @box-orient;
}

.box-flex(@box-flx) {
	.vendorWebkit(box-flex, @box-flx);
	.vendorMoz(box-flex, @box-flx);
	.vendorO(box-flex, @box-flx);
	.vendorMS(box-flex, @box-flx);
	box-flex: @box-flx;
}

.box-direction(@box-dir) {
	.vendorValueNoMS(box-direction, @box-dir);
	-ms-flex-direction: @box-dir;
}

.ordinal-group(@or-g) {
	.vendorWebkit(box-ordinal-group, @or-g);
	.vendorMoz(box-ordinal-group, @or-g);
	.vendorO(box-ordinal-group, @or-g);
	box-ordinal-group: @or-g;
	-ms-flex-order: @or-g;
}

.box-lines(@box-lines) {
	.vendorWebkit(box-lines, @box-lines);
	.vendorMoz(box-lines, @box-lines);
	.vendorO(box-lines, @box-lines);
	.vendorMS(box-lines, @box-lines);
	box-lines: @box-lines;
}

.display-flex(@display-flex) {
	.vendorValueNoMS(display, @display-flex);
}

.flex-flow(@flex-flow) {
	.vendorValue(flex-flow, @flex-flow);
}

.justify-content(@justify-con) {
	.vendorValue(justify-content, @justify-con);
}

.align-content(@align-con) {
	.vendorValue(align-content, @align-con);
}

.align-items(@align-items) {
	.vendorValue(align-items, @align-items);
}

.order(@order) {
	.vendorValue(order, @order);
}

.flex(@flexflex) {
	.vendorValue(flex, @flexflex)
}

.align-self(@align-self) {
	.vendorValue(align-self, @align-self);
}

.transition(@transition) {
	.vendorWebkit(transition, @transition);
	.vendorMoz(transition, @transition);
	.vendorMS(transition, @transition);
	.vendorO(transition, @transition);
	transition: @transition;
}

.transition-delay(@transition-delay) {
	.vendorWebkit(transition-delay, @transition-delay);
	.vendorMoz(transition-delay, @transition-delay);
	.vendorMS(transition-delay, @transition-delay);
	.vendorO(transition-delay, @transition-delay);
	transition-delay: @transition-delay;
}

.transition-property(@transition-property) {
	.vendorWebkit(transition-property, @transition-property);
	.vendorMoz(transition-property, @transition-property);
	.vendorMS(transition-property, @transition-property);
	.vendorO(transition-property, @transition-property);
	transition-property: @transition-property;
}

.transition-duration(@transition-duration) {
	.vendorWebkit(transition-duration, @transition-duration);
	.vendorMoz(transition-duration, @transition-duration);
	.vendorMS(transition-duration, @transition-duration);
	.vendorO(transition-duration, @transition-duration);
	transition-duration: @transition-duration;
}

.transition-timing-function(@transition-timing-func) {
	.vendorWebkit(transition-timing-function, @transition-timing-func);
	.vendorMoz(transition-timing-function, @transition-timing-func);
	.vendorMS(transition-timing-function, @transition-timing-func);
	.vendorO(transition-timing-function, @transition-timing-func);
	transition-timing-function: @transition-timing-func;
}

.transform(@transform) {
	.vendorWebkit(transform, @transform);
	.vendorMoz(transform, @transform);
	.vendorMS(transform, @transform);
	.vendorO(transform, @transform);
	transform: @transform;
}

.transform-origin(@transform-origin) {
	.vendorWebkit(transform-origin, @transform-origin);
	.vendorMoz(transform-origin, @transform-origin);
	.vendorMS(transform-origin, @transform-origin);
	.vendorO(transform-origin, @transform-origin);
	transform-origin: @transform-origin;
}
