[data-tuktuk="modal"] {
  position: fixed;
  left: 50%;
  .transform(translateY(-100%));
  visibility: hidden;
  z-index: 1997;

  & header {
    padding: (@AIR / 1.9) @AIR;
  }

  & article,
  footer {
    padding: (@AIR / 1.5) @AIR;
  }

  & article {
    .box-flex(1);
    & [class^="column_"] {
      margin: 0 !important;
    }
  }

  &.active {
    top: 5%;
    .transform(translateY(0%));
    visibility: visible;
  }

  &:not(.side) {
    margin-top: 0 !important;
    margin-right: 0 !important;

    &.column_5 {
      @COLUMN5: 368px;
      margin-left: -(@COLUMN5 / 2);
    }

    &.column_6 {
      @COLUMN6: 448px;
      margin-left: -(@COLUMN6 / 2);
    }

    &.column_7 {
      @COLUMN7: 528px;
      margin-left: -(@COLUMN7 / 2);
    }

    &.column_8 {
      @COLUMN8: 608px;
      margin-left: -(@COLUMN8 / 2);
    }

    &.column_9 {
      @COLUMN9: 688px;
      margin-left: -(@COLUMN9 / 2);
    }

    &.column_10 {
      @COLUMN10: 768px;
      margin-left: -(@COLUMN10 / 2);
    }

    &.column_11 {
      @COLUMN11: 848px;
      margin-left: -(@COLUMN11 / 2);
    }

    &.column_12 {
      @COLUMN12: 928px;
      margin-left: -(@COLUMN12 / 2);
    }
  }


  &.side {
    position: absolute;
    .display-box();
    .box-orient(verical);
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: 0;
    .transform(translateX(100%));

    &.active {
      .transform(translateX(0%));
    }

    & > div {
      width: 100%;
      height: 100%;
      .display-box();
      .box-orient(vertical);
    }
  }
}

[data-tuktuk="lock"] {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1990;
  visibility: hidden;

  &.active {
    visibility: visible;
    &[data-loading=true] {
      display: block;
    }
  }

  & > .loading {
    @SIZE: 5.5em;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: @SIZE;
    height: (@SIZE / 2);
    margin-left: -(@SIZE / 2);
    margin-top: -(@SIZE / 2);

    @SPEED: 1s;
    @SIZE1337: (@SIZE / 3.5);
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: (@SIZE / 2.55);
      width: @SIZE;
      height: @SIZE;
      .animation(loading-dots @SPEED infinite);
    }

    &::before {
      left: (@SIZE / 2.3);
    }
    &::after {
      .animation(loading-dots @SPEED (@SPEED / 2) infinite);
      right: (@SIZE / 2.3);
    }
  }
}

@keyframes loading-dots {
  0% {
    opacity: 1;
    .transform(scale(1));
  }
  50% {
    opacity: 0.5;
    .transform(scale(0.85));
  }
  100% {
    opacity: 1;
    .transform(scale(1));
  }
}
