nav[data-tuktuk=menu] > a {
	& small {
		font-size: @FONT-SIZE-TINY;
		margin-left: 0.4em;
	}
	& .icon {
		display: inline-block;
		width: @AIR;
		margin-right: (@AIR / 2);
	}
}

section,
header,
footer {
	& nav[data-tuktuk=menu] > a {
		line-height: 2.5em;
		padding: 0 @AIR;
		display: inline-block;
		&:not(:first-child) {
			margin-left: (@AIR / 2);
		}
	}
}

[data-tuktuk=menu] aside {
	& nav[data-tuktuk=menu] {
		margin: (@AIR / 2);
		& > a {
			display: block;
			padding: (@AIR / 1.5) (@AIR / 1.5);
		}
	}
}