body {
  .bck {
    &.color {
      background-color: @THEME-COLOR;
      color: @THEME-LIGHT;
    }
    &.light {
      background-color: @THEME-LIGHT;
      color: @THEME-DARK;
    }
    &.dark {
      background-color: @THEME-DARK;
      color: @THEME-LIGHT;
    }
    &.theme {
      background-color: @THEME-THEME;
      color: @THEME-LIGHT;
    }
  }
}

::selection {
  background-color: @SELECTION;
}
