[data-tip] {
	position: relative;
	display: inline-block;

	&:before,
	&:after {
		position: absolute;
		opacity: 0;
		z-index: 1000000;
		pointer-events: none;
	}	
	&:before {
		content: "";
		position: absolute;
		background: transparent;
		z-index: 1000001;
	}
	&:after {
		color: white;
		padding: 0.5em;
		font-size: @FONT-SIZE-TINY;
		line-height: 1.0em;
		white-space: nowrap;
	}
	&:hover:before,
	&:hover:after {
		opacity: 1;
	}

	&:not(.tip-top):not(.tip-right):not(.tip-left) {
		&:before {
			margin-top: -12px;
		}
		&:after {
			margin-left: -18px;
		}
		&:before,
		&:after {
			top: 100%;
			left: 50%;
		}
		&:hover:before,
		&:hover:after {
			.transform(translateY(8px));
		}
	}

	&.tip-top {
		&:before {
			margin-bottom: -12px;
		}
		&:after {
			margin-left: -18px;
		}
		&:before,
		&:after {
			bottom: 100%;
			left: 50%;
		}
		&:hover:before,
		&:hover:after {
			.transform(translateY(-8px));
		}
	}

	&.tip-left {
		&:before {
			margin-right: -12px;
			margin-bottom: -6px;
		}
		&:after {
			margin-bottom: -14px;
		}
		&:before,
		&:after {
			right: 100%;
			bottom: 50%;
		}
		&:hover:before,
		&:hover:after {
			.transform(translateX(-8px));
		}
	}

	&.tip-right {
		&:before {
			margin-left: -12px;
			margin-bottom: -6px;
		}
		&:after {
			margin-bottom: -14px;
		}
		&:before,
		&:after {
			left: 100%;
			bottom: 50%;
		}
		&:hover:before,
		&:hover:after {
			.transform(translateX(8px));
		}
	}
}