.button, button
  position: relative
  display: inline-block
  border: none
  cursor: pointer
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: 2.5em
  text-align: center
  text-decoration: none
  outline: none
  background: none
  background-color: BUTTON_COLOR !important

  &.icon
    padding: 0 0.65em
  &:not(.icon)
    padding: 0 1em
    & .icon, & .loading
      margin-right: (AIR / 4)

  &.large
    font-size: FONT-SIZE-LARGE
  &.small
    font-size: FONT-SIZE-SMALL
  &.tiny
    font-size: FONT-SIZE-TINY
    line-height: 2em
    padding: 0 0.6em

  &.anchor
    width: 100%
    &:not(.icon) .icon
      position: absolute
      left: AIR

  &.disabled, &:disabled
    cursor: default

  // @todo: Loading buttons
  transition background-color 400ms
  &[data-loading]
    & > .icon
      display: none
    & > .loading
      display: inline-block
      & > .container
        animation loading 600ms infinite linear


    & > .loading
      position: relative
      top: 0.2em
      font-size: 1.25em
      & > .container
        height: 1em
        width: 1em
        & > span
          &, &::before, &::after
            width: 0.075em
            border-radius 0

