/* ========================= HEADING ========================= */
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
h1
  font-size: H1
h2
  font-size: H2
h3
  font-size: H3
h4
  font-size: H4
h5
  font-size: H5
h6
  font-size: H6

/* ========================= TEXT ========================= */
.text
  &.thin
    font-weight: 200
  &.book
    font-weight: 300
  &.normal
    font-weight: 400
  &.bold
    font-weight: 700

  &.italic
    font-style: italic
  &.underline
    text-decoration: underline
  &.uppercase
    text-transform: uppercase

  &.tiny
    font-size: FONT-SIZE-TINY
  &.small
    font-size: FONT-SIZE-SMALL
  &.big
    font-size: FONT-SIZE-BIG
  &.large
    font-size: FONT-SIZE-LARGE

.align, .text
  &.left
    text-align: left
  &.right
    text-align: right
  &.center
    text-align: center
  &.justify
    text-align: justify

/* ========================= BASIC ELEMENTS ========================= */
small
  font-size: FONT-SIZE-SMALL

strong
  font-weight: bold
