.messages {
  margin: 0px 20px 10px 20px !important;

  a:link {
    color: #FFF !important;
    text-decoration: underline;
  }

  &.error {
    background-color: $ERROR_COLOR;
    border: 1px solid $ERROR_COLOR_BORDER;
    background-image: none;
    color: #FFF;
  }

  &.warning {
    background-color: $WARNING_COLOR;
    border: 1px solid $WARNING_COLOR_BORDER;
    background-image: none;

    a:link {
      color: #FFF !important;
    }
  }

  &.status {
    background-color: $STATUS_COLOR;
    border: 1px solid $STATUS_COLOR-BORDER;
    background-color: none;
    color: #FFF;
  }
}
