[data-tuktuk=boxes] {
  @include display-box();
  @include box-pack(justify);
  overflow: hidden;

  > aside,
  > section {
    @include display-box();

    > header,
    > footer,
    > div > header,
    > div > footer {
      @include box-flex(0);
      display: block;
      height: $HEADER_HEIGHT;
      line-height: $HEADER_HEIGHT;
      padding: 0 $AIR;
    }

    article {
      @include box-flex(1);
      height: $FIREFOX_FLEX_HACK;
    }
  }

  > aside {
    z-index: 2;
    @include box-flex(0);
    min-width: $ASIDE_WIDTH;
    margin: 0 !important;
    float: none !important;

    &.absolute {
      position: absolute;
      height: inherit;

      &:not(.right) {
        @include transform(translateX(-512px));
      }
      &.right {
        @include transform(translateX(512px));
        right: 0px;
      }
      &.active {
        @include transform(translateX(0) !important);
      }
    }
  }

  > section {
    @include box-flex(1);
    z-index: 0;
  }

  > aside,
  > section {
    .session {
      height: inherit;
      > * {
        display: inline-block;
        float: left;
      }
    }
  }
}
