.button,
button {
  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: none;
  background-color: $BUTTON_COLOR !important;

  &.icon {
    padding: 0 0 .65em;
  }

  &:not(.icon) {
    padding: 0 1em;
    .icon,
    .loading {
      margin-right: ($AIR / 4);
    }
  }

  &.large {
    font-size: $FONT_SIZE_LARGE;
  }

  &.small {
    font-size: $FONT_SIZE_SMALL;
  }

  &.tiny {
    font-size: $FONT_SIZE_TINY;
    line-height: 2em;
    padding: 0 0.6em;
  }

  &.anchor {
    width: 100%;
    &:not(.icon) .icon {
      position: absolute;
      left: $AIR;
    }
  }

  &.disabled,
  &:disabled {
    cursor: default;
  }
}
