.flexbox {
  @include display-box();

  &.y {
    @include box-orient(vertical);

    &.top {
      @include box-pack(start);
    }
    &.bottom {
      @include box-pack(end);
    }
    &.middle {
      @include box-pack(center);
    }
    &.left {
      @include box-align(start);
    }
    &.right {
      @include box-align(end);
    }
    &.center {
      @include box-align(center);
    }
  }

  &.x {
    @include box-orient(horizontal);
    @include box-pack(justify);

    &.top {
      @include box-align(start);
    }
    &.bottom {
      @include box-align(end);
    }
    &.middle {
      @include box-align(center);
    }
    &.left {
      @include box-pack(start);
    }
    &.right {
      @include box-pack(end);
    }
    &.center {
      @include box-pack(center);
    }
  }

  &.reverse {
    @include box-direction(reverse);
  }
  &.single {
    @include box-lines(single);
  }
  &.multiple {
    @include box-lines(multiple);
  }
  > * {
    display: block;
  }

  > .box {
    @include box-flex(0);
  }
  > .box-1 {
    @include box-flex(1);
  }
  > .box-2 {
    @include box-flex(2);
  }

  > .order_1 {
    @include ordinal-group(1);
  }
  > .order_2 {
    @include ordinal-group(2);
  }
  > .order_3 {
    @include ordinal-group(3);
  }
  > .order_4 {
    @include ordinal-group(4);
  }
  > .order_5 {
    @include ordinal-group(5);
  }
  > .order_6 {
    @include ordinal-group(6);
  }
  > .order_7 {
    @include ordinal-group(7);
  }
  > .order_8 {
    @include ordinal-group(8);
  }
  > .order_9 {
    @include ordinal-group(9);
  }
}
