body {
  font-family: $FONT_FAMILY !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $H1;
}
h2 {
  font-size: $H2;
}
h3 {
  font-size: $H3;
}
h4 {
  font-size: $H4;
}
h5 {
  font-size: $H5;
}
h6 {
  font-size: $H6;
}

.text {
  &.thin {
    font-weight: 200 !important;
  }
  &.book {
    font-weight: 300 !important;
  }
  &.normal {
    font-weight: 400 !important;
  }
  &.bold {
    font-weight: 700 !important;
  }
  &.italic {
    font-style: italic !important;
  }
  &.underline {
    text-decoration: underline !important;
  }
  &.uppercase {
    text-transform: uppercase !important;
  }
}

p {
  font-weight: 300 !important;
}

.align,
.text {
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
  &.justify {
    text-align: justify;
  }
}

small {
  font-size: $FONT_SIZE_SMALL;
}

strong {
  font-weight: bold;
}
