.row {
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
  display: block;

  .row {
    margin: 0 -16px 0 -16px;
    width: auto;
    display: inline-block;
  }
}

[class^="column_"],
[class*="column_"] {
  margin: 0 16px 0 16px;
  float: left;
  display: inline;
}

.column_1 {
  width: $COLUMN_1;
}
.column_2 {
  width: $COLUMN_2;
}
.column_3 {
  width: $COLUMN_3;
}
.column_4 {
  width: $COLUMN_4;
}
.column_5 {
  width: $COLUMN_5;
}
.column_6 {
  width: $COLUMN_6;
}
.column_7 {
  width: $COLUMN_7;
}
.column_8 {
  width: $COLUMN_8;
}
.column_9 {
  width: $COLUMN_9;
}
.column_10 {
  width: $COLUMN_10;
}
.column_11 {
  width: $COLUMN_11;
}
.column_12 {
  width: $COLUMN_12;
}

.offset_1 {
  margin-left: $COLUMN_OFFSET_1;
}
.offset_2 {
  margin-left: $COLUMN_OFFSET_2;
}
.offset_3 {
  margin-left: $COLUMN_OFFSET_3;
}
.offset_4 {
  margin-left: $COLUMN_OFFSET_4;
}
.offset_5 {
  margin-left: $COLUMN_OFFSET_5;
}
.offset_6 {
  margin-left: $COLUMN_OFFSET_6;
}
.offset_7 {
  margin-left: $COLUMN_OFFSET_7;
}
.offset_8 {
  margin-left: $COLUMN_OFFSET_8;
}
.offset_9 {
  margin-left: $COLUMN_OFFSET_9;
}
.offset_10 {
  margin-left: $COLUMN_OFFSET_10;
}
.offset_11 {
  margin-left: $COLUMN_OFFSET_11;
}

.show-phone {
  display: none !important;
}
.show-tablet {
  display: none !important;
}
.show-screen {
  display: inherit !important;
}
.hide-phone {
  display: inherit !important;
}
.hide-tablet {
  display: inherit !important;
}
.hide-screen {
  display: none !important;
}

@media only screen and (min-width: 1200px) {
  .row {
    width: 1200px;
    .row {
      margin: 0 -20px 0 -20px;
    }
  }

  [class^="column_"],
  [class*="column_"] {
    margin: 0 20px 0 20px;
  }

  .column_1 {
    width: $COLUMN_MEDIUM_1;
  }
  .column_2 {
    width: $COLUMN_MEDIUM_2;
  }
  .column_3 {
    width: $COLUMN_MEDIUM_3;
  }
  .column_4 {
    width: $COLUMN_MEDIUM_4;
  }
  .column_5 {
    width: $COLUMN_MEDIUM_5;
  }
  .column_6 {
    width: $COLUMN_MEDIUM_6;
  }
  .column_7 {
    width: $COLUMN_MEDIUM_7;
  }
  .column_8 {
    width: $COLUMN_MEDIUM_8;
  }
  .column_9 {
    width: $COLUMN_MEDIUM_9;
  }
  .column_10 {
    width: $COLUMN_MEDIUM_10;
  }
  .column_11 {
    width: $COLUMN_MEDIUM_11;
  }
  .column_12 {
    width: $COLUMN_MEDIUM_12;
  }

  .offset_1 {
    margin-left: $COLUMN_MEDIUM_OFFSET_1;
  }
  .offset_2 {
    margin-left: $COLUMN_MEDIUM_OFFSET_2;
  }
  .offset_3 {
    margin-left: $COLUMN_MEDIUM_OFFSET_3;
  }
  .offset_4 {
    margin-left: $COLUMN_MEDIUM_OFFSET_4;
  }
  .offset_5 {
    margin-left: $COLUMN_MEDIUM_OFFSET_5;
  }
  .offset_6 {
    margin-left: $COLUMN_MEDIUM_OFFSET_6;
  }
  .offset_7 {
    margin-left: $COLUMN_MEDIUM_OFFSET_7;
  }
  .offset_8 {
    margin-left: $COLUMN_MEDIUM_OFFSET_8;
  }
  .offset_9 {
    margin-left: $COLUMN_MEDIUM_OFFSET_9;
  }
  .offset_10 {
    margin-left: $COLUMN_MEDIUM_OFFSET_10;
  }
  .offset_11 {
    margin-left: $COLUMN_MEDIUM_OFFSET_11;
  }

  .show-phone {
    display: none !important;
  }
  .show-tablet {
    display: none !important;
  }
  .show-screen {
    display: inherit;
  }
  .hide-phone {
    display: inherit !important;
  }
  .hide-tablet {
    display: inherit !important;
  }
  .hide-screen {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .row {
    width: 768px;
    & .row {
      margin: 0 -14px 0 -14px;
    }
  }

  [class^="column_"],
  [class*="column_"] {
    margin: 0 14px 0 14px;
  }

  .column_1 {
    width: $COLUMN_SMALL_1;
  }
  .column_2 {
    width: $COLUMN_SMALL_2;
  }
  .column_3 {
    width: $COLUMN_SMALL_3;
  }
  .column_4 {
    width: $COLUMN_SMALL_4;
  }
  .column_5 {
    width: $COLUMN_SMALL_5;
  }
  .column_6 {
    width: $COLUMN_SMALL_6;
  }
  .column_7 {
    width: $COLUMN_SMALL_7;
  }
  .column_8 {
    width: $COLUMN_SMALL_8;
  }
  .column_9 {
    width: $COLUMN_SMALL_9;
  }
  .column_10 {
    width: $COLUMN_SMALL_10;
  }
  .column_11 {
    width: $COLUMN_SMALL_11;
  }
  .column_12 {
    width: $COLUMN_SMALL_12;
  }

  .offset_1 {
    margin-left: $COLUMN_SMALL_OFFSET_1;
  }
  .offset_2 {
    margin-left: $COLUMN_SMALL_OFFSET_2;
  }
  .offset_3 {
    margin-left: $COLUMN_SMALL_OFFSET_3;
  }
  .offset_4 {
    margin-left: $COLUMN_SMALL_OFFSET_4;
  }
  .offset_5 {
    margin-left: $COLUMN_SMALL_OFFSET_5;
  }
  .offset_6 {
    margin-left: $COLUMN_SMALL_OFFSET_6;
  }
  .offset_7 {
    margin-left: $COLUMN_SMALL_OFFSET_7;
  }
  .offset_8 {
    margin-left: $COLUMN_SMALL_OFFSET_8;
  }
  .offset_9 {
    margin-left: $COLUMN_SMALL_OFFSET_9;
  }
  .offset_10 {
    margin-left: $COLUMN_SMALL_OFFSET_10;
  }
  .offset_11 {
    margin-left: $COLUMN_SMALL_OFFSET_11;
  }

  .show-phone {
    display: none !important;
  }
  .show-tablet {
    display: inherit !important;
  }
  .show-screen {
    display: none !important;
  }
  .hide-phone {
    display: inherit !important;
  }
  .hide-tablet {
    display: none !important;
  }
  .hide-screen {
    display: inherit !important;
  }
}

@media only screen and (max-width: 767px) {
  .row {
    width: 300px;
    & .row {
      margin: 0;
    }
  }

  [class^="column_"],
  [class*="column_"] {
    width: 300px;
    margin: 10px 0 0 0;
  }

  .offset_1,
  .offset_2,
  .offset_3,
  .offset_4,
  .offset_5,
  .offset_6,
  .offset_7,
  .offset_8,
  .offset_9,
  .offset_10,
  .offset_11 {
    margin-left: 0;
  }

  .show-phone {
    display: inherit !important;
  }
  .show-tablet {
    display: none !important;
  }
  .show-screen {
    display: none !important;
  }
  .hide-phone {
    display: inherit !important;
  }
  .hide-tablet {
    display: none !important;
  }
  .hide-screen {
    display: none !important;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .row {
    margin: 0 auto;
    width: 456px;
  }
  .row .row {
    margin: 0;
    width: auto;
    display: inline-block;
  }

  [class^="column_"],
  [class*="column_"] {
    margin: 10px 0 0 0;
    width: 456px;
  }

  .show-phone,
  .hide-tablet,
  .hide-screen {
    display: inherit !important;
  }
  .show-tablet,
  .show-screen,
  .hide-screen {
    display: none !important;
  }
}
