html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;

  * {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
  }

  > header {
    line-height: 48px;
    nav a {
      margin: 0 0.5em;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  > section {
    &.padding {
      padding: ($AIR * 4) 0;
    }
    &.landing {
      padding: ($AIR * 6) 0;
      h1 {
        font-size: 8.0em;
      }
      h2 {
        font-size: 4.0em;
      }
      h3 {
        font-size: 2.8em;
      }
      .form.subscribe {
        margin-top: 1em;
        * {
          float: left;
        }
        input {
          @include box-flex(0);
          width: 85%;
          border-right: 0;
          margin-top: 0;
          border: 0;
        }
        .button,
        button {
          width: 15%;
          box-shadow: none;
        }
      }
    }
  }
}
a {
  text-decoration: none;
  outline: 0;
}

.nomargin {
  margin: 0 !important;
}
