body {
  &:not(.color):not(.dark) a {
    color: $THEME_DARK;

    &:not(.button) {
      &:hover,
      &:active {
        color: $THEME_THEME;
      }
    }
  }
  &:not(.theme):not(.light) a {
    color: $THEME_DARK;
  }
}
