$BREAK_LARGE: 1200px;

$BREAK_MEDIUM_MIN: 960px;
$BREAK_MEDIUM_MAX: 1190px;

$BREAK_SMALL_MIN: 768px;
$BREAK_SMALL_MAX: 959px;

$BREAK_XSMALL_MIN: 480px;
$BREAK_XSMALL_MAX: 767px;

$MODAL_FIX: 528px;

// Computer Screen
@media only screen and (min-width: $BREAK_LARGE) {
  header {
    height: auto;
  }
}
// Tablet
@media only screen and (min-width: $BREAK_MEDIUM_MIN) and (max-width: $BREAK_MEDIUM_MAX) {
  header {
    height: auto;
  }
}
// Mobile Phone
@media only screen and (min-width: $BREAK_XSMALL_MIN) and (max-width: $BREAK_XSMALL_MAX) {
  header {
    height: auto !important;
  }
}


@media only screen and (max-width: $BREAK_XSMALL_MAX) {
  header {
    height: auto !important;
  }
}
@media only screen and (max-width: $BREAK_XSMALL_MAX) {
  body {
    font-size: 13px !important;
  }

  header {
    height: auto !important;
    line-height: 32px;
  }

  nav {
    & button,
    .button,
    a {
      text-align: center;
      display: block !important;
      margin: 2px 0 !important;
      line-height: 32px;
    }
    &.group a {
      border: none !important;
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  header {
    height: auto;
  }
}
@media only screen and (max-width: $MODAL_FIX) {
  [data-tuktuk="modal"] {
    left: 5% !important;
    width: 90% !important;
    margin-left: 0 !important;
  }
}
