@mixin vendorWebkit($prop, $value) { -webkit-#{$prop}: $value; }
@mixin vendorMoz($prop, $value) { -moz-#{$prop}: $value; }
@mixin vendorMS($prop, $value) { -ms-#{$prop}: $value; }
@mixin vendorO($prop, $value) { -o-#{$prop}: $value; }
@mixin vendorValue($prop, $value) {
  @include vendorWebkit($prop, $value);
  @include vendorMoz($prop, $value);
  @include vendorMS($prop, $value);
  @include vendorO($prop, $value);
  $prop: $value;
}
@mixin vendorValueNoMS($prop, $value) {
  @include vendorWebkit($prop, $value);
  @include vendorMoz($prop, $value);
  @include vendorO($prop, $value);
  $prop: $value;
}
@mixin animation($anim) {
  @include vendorValue(animation, $anim);
  animation: $anim;
}
@mixin animation-fill-mode($animfillmode) {
  @include vendorValue(animation-fill-mode, $animfillmode);
  animation-fill-mode: $animfillmode;
}
@mixin border-radius($radi) {
  @include vendorValue(border-radius, $radi);
  border-radius: $radi;
}
@mixin box-shadow($boxshadow) {
  @include vendorValue(box-shadow, $boxshadow);
  box-shadow: $boxshadow;
}
@mixin background-size($bg-size) {
  @include vendorValue(background-size, $bg-size);
  background-size: $bg-size;
}
@mixin text-shadow($txtshadow) {
  @include vendorValue(text-shadow, $txtshadow);
  text-shadow: $txtshadow;
}
@mixin backface-visibility($bfvis) {
  @include vendorValue(backface-visibility, $bfvis);
  backface-visibility: $bfvis;
}
@mixin display-box() {
  @include vendorValueNoMS(display, box);
  display: box;
  display: -ms-flexbox;
}
@mixin box-pack($box-pack) {
  @include vendorValueNoMS(box-pack, $box-pack);
  box-pack: $box-pack;
  -ms-flex-pack: $box-pack;
}
@mixin box-align($box-align) {
  @include vendorValueNoMS(box-align, $box-align);
  box-align: $box-align;
  -ms-flex-align: $box-align;
}
@mixin box-sizing($box-sizing) {
  @include vendorValue(box-sizing, $box-sizing);
  box-sizing: $box-sizing;
}
@mixin box-orient($box-orient) {
  @include vendorValueNoMS(box-orient, $box-orient);
  box-orient: $box-orient;
}
@mixin box-flex($box-flx) {
  @include vendorValue(box-flex, $box-flx);
  box-flex: $box-flx;
}
@mixin box-direction($box-dir) {
  @include vendorValueNoMS(box-direction, $box-dir);
  -ms-flex-direction: $box-dir;
}
@mixin ordinal-group($or-g) {
  @include vendorValueNoMS(box-ordinal-group, $or-g);
  box-ordinal-group: $or-g;
  -ms-flex-order: $or-g;
}
@mixin box-lines($box-lines) {
  @include vendorValue(box-lines, $box-lines);
  box-lines: $box-lines;
}
@mixin display-flex($display-flex) {
  @include vendorValueNoMS(display, $display-flex)
}
@mixin flex-flow($flex-flow) {
  @include vendorValue(flex-flow, $flex-flow);
}
@mixin justify-content($justify-con) {
  @include vendorValue(justify-content, $justify-content);
}
@mixin align-content($align-con) {
  @include vendorValue(align-content, $align-con);
}
@mixin align-items($align-items) {
  @include vendorValue(align-items, $align-items);
}
@mixin order($order) {
  @include vendorValue(order, $order);
}
@mixin flex($flexflex) {
  @include vendorValue(flex, $flexflex);
}
@mixin align-self($align-self) {
  @include vendorValue(align-self, $align-self);
}
@mixin transition($transition) {
  @include vendorValue(transition, $transition);
  transition: $transition;
}
@mixin transition-delay($transition-delay) {
  @include vendorValue(transition-delay, $transition-delay);
  transition-delay: $transition-delay;
}
@mixin transiiton-property($transition-property) {
  @include vendorValue(transition-property, $transition-property);
  transition-property: $transition-property;
}
@mixin transition-duration($transition-duration) {
  @include vendorValue(transition-duration, $transition-duration);
  transition-duration: $transition-duration;
}
@mixin transition-timing-function($transition-timing-function) {
  @include vendorValue(transition-timing-function, $transition-timing-function);
  transition-timing-function: $transition-timing-function;
}
@mixin transform($transform) {
  @include vendorValue(transform, $transform);
  transform: $transform;
}
@mixin transform-origin($transform-origin) {
  @include vendorValue(transform-origin, $transform-origin);
  transform-origin: $transform-origin;
}
