$SIZE:      5.5em;
$SPEED:     1s;

[data-tuktuk="modal"] {
  position: fixed;
  left: 50%;
  @include transform(translateY(-100%));
  visibility: hidden;
  z-index: 1997;

  header {
    padding: ($AIR / 1.9) $AIR;
  }

  article,
  footer {
    padding: ($AIR / 1.5) $AIR;
  }

  article {
    @include box-flex(1);
    [class^="column_"] {
      margin: 0 !important;
    }
  }

  &.active {
    top: 5%;
    @include transform(translateY(0%));
    visibility: visible;
  }

  &:not(.side) {
    margin-top: 0 !important;
    margin-right: 0 !important;

    &.column_5 {
      margin-left: -($COLUMN_5 / 2);
    }
    &.column_6 {
      margin-left: -($COLUMN_6 / 2);
    }
    &.column_7 {
      margin-left: -($COLUMN_7 / 2);
    }
    &.column_8 {
      margin-left: -($COLUMN_8 / 2);
    }
    &.column_9 {
      margin-left: -($COLUMN_9 / 2);
    }
    &.column_10 {
      margin-left: -($COLUMN_10 / 2);
    }
    &.column_11 {
      margin-left: -($COLUMN_11 / 2);
    }
    &.column_12 {
      margin-left: -($COLUMN_12 / 2);
    }
  }

  &.side {
    position: absolute;
    @include display-box();
    @include box-orient(vertical);
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    margin: 0;
    @include transform(translateX(100%));

    &.active {
      @include transform(translateX(0%));
    }
    > div {
      width: 100%;
      height: 100%;
      @include display-box();
      @include box-orient(vertical);
    }
  }
}

[data-tuktuk="lock"] {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1990;
  visibility: hidden;

  &.active {
    visibility: visible;
    &[data-loading=true] {
      display: block;
    }
  }

  > .loading {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: $SIZE;
    height: ($SIZE / 2);
    margin-left: -($SIZE / 2);
    margin-top: -($SIZE / 2);

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: (($SIZE / 3.5) / 2.55);
      width: ($SIZE / 3.5);
      height: ($SIZE / 3.5);
      @include animation(loading-dots $SPEED infinite);
    }

    &::before {
      left: (($SIZE / 3.5) / 2.3);
    }
    &::after {
      @include animation(loading-dots $SPEED ($SPEED / 2) infinite);
    }
  }
}

@keyframes loading-dots {
  0% {
    opacity: 1;
    @include transform(scale(1));
  }
  50% {
    opacity: 0.5;
    @include transform(scale(0.85));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}
