ul.pager {
  li {
    margin: -3px;
    background-color: $BUTTON_COLOR;
    line-height: 2.5em;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 0 $AIR;
    color: #FFF;
    font-weight: bold;
    &.first {
      border-radius: 4px 0px 0px 4px;
    }
    &.last {
      border-radius: 0px 4px 4px 0px;
    }
    a {
      color: #34495e;
    }
    &:hover {
      background-color: darken($BUTTON_COLOR, 5%);
      a {
        color: #FFF !important;
      }
    }
  }
}
