[data-tuktuk=boxes] ::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
  position: absolute;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical {
  background-color: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:start:decrement,
[data-tuktuk=boxes] ::-webkit-scrollbar-button:end:increment {
  display: block;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:start:increment,
[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:increment {
  display: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:vertical:decrement {
  display: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:horizontal:increment {
  display: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-button:horizontal:decrement {
  display: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-track:vertical {
  background-color: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece:vertical:start {
  border: 0;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece:vertical:end {
  border: 0;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-track-piece {
  background-color: none;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:vertical {
  height: 1em;
  background-color: rgba(0,0,0,0.4);
}

[data-tuktuk=boxes] ::-webkit-scrollbar-thumb:horizontal {
  height: 1em;
  background-color: gray;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-corner:vertical {
  background-color: black;
}

[data-tuktuk=boxes] ::-webkit-scrollbar-resizer:vertical {
  background-color: gray;
}
