body {
  .bck {
    &.color {
      background-color: $THEME_COLOR;
      color: $THEME_LIGHT;
    }
    &.light {
      background-color: $THEME_LIGHT;
      color: $THEME_DARK;
    }
    &.dark {
      background-color: $THEME_DARK;
      color: $THEME_LIGHT;
    }
    &.theme {
      background-color: $THEME_THEME;
      color: $THEME_LIGHT;
    }
  }
}

::selection {
  background-color: $SELECTION;
}
