/**
 * @file tuktuk.theme.css
 * This should be the basis of what a subtheme css file for a custom
 * theme should be like.
 *
 * You may use this as a template in your subtheme.
 *
 * LINE 12 & 13: This will appear as a css syntax error saying:
 * "Selectors must be on a single line",
 * "Blank lines are not allowed between class names"
 */
body {
  color: #34495e;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background: #fff;
}

body:not(.color):not(.dark) a {
  color: #34495e;
}

body:not(.color):not(.dark) a:not(.button):hover,
body:not(.color):not(.dark) a:not(.button):active {
  color: #1abc9c;
}

body hr {
  margin: 15px 0;
  background: #ecf0f1;
  background-color: rgba(0, 0, 0, 0.1);
}

body .radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

body nav[data-tuktuk=menu] a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

body nav[data-tuktuk=menu] a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

body nav[data-tuktuk=menu] a.active {
  color: #34495e;
  background-color: rgba(0, 0, 0, 0.1);
}

body nav[data-tuktuk=menu] a.active .icon {
  color: #1abc9c;
}

body nav[data-tuktuk=menu] a:not(.active):not(:hover) > .icon,
body nav[data-tuktuk=menu] a small {
  opacity: .6;
  font-weight: 400;
}

body .bck.color nav[data-tuktuk=menu] a:hover,
body .bck.dark nav[data-tuktuk=menu] a:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

body .bck.color nav[data-tuktuk=menu] a.active,
body .bck.dark nav[data-tuktuk=menu] a.active {
  background-color: rgba(0, 0, 0, 0.15);
}

body .bck.light {
  background-color: #ecf0f1;
}

body .bck.color {
  background-color: #34495e;
}

body .bck.dark {
  background-color: #2c3e50;
}

body .bck.theme {
  background-color: #1abc9c;
}

body .bck.alert {
  background-color: #e74c3c !important;
}

body .bck.theme,
body .bck.alert {
  color: #fff;
}

body .bck.color,
body .bck.dark {
  color: #c4d2df;
}

body .bck.color hr,
body .bck.dark hr {
  background: #415b75;
  background: rgba(0, 0, 0, 0.2);
}
body .bck.color a,
body .bck.dark a {
  color: #fff;
}

body .bck.color a.active,
body .bck.dark a.active {
  color: #fff !important;
}

body .text.shadow {
  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

body .color.white {
  color: #fff !important;
}

body .color.theme {
  color: #1abc9c !important;
}

body .color.default {
  color: #34495e !important;
}

body form input[type="text"],
body .form input[type="text"],
body form input[type="password"],
body .form input[type="password"],
body form input[type="date"],
body .form input[type="date"],
body form input[type="datetime"],
body .form input[type="datetime"],
body form input[type="email"],
body .form input[type="email"],
body form input[type="number"],
body .form input[type="number"],
body form input[type="search"],
body .form input[type="search"],
body form input[type="tel"],
body .form input[type="tel"],
body form input[type="time"],
body .form input[type="time"],
body form input[type="url"],
body .form input[type="url"],
body form select,
body .form select,
body form textarea,
body .form textarea {
  background-color: #fff;
  color: #34495e;
  border: 2px solid #dce4ec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border-color 400ms;
  -moz-transition: border-color 400ms;
  -ms-transition: border-color 400ms;
  -o-transition: border-color 400ms;
  transition: border-color 400ms;
}

body form input[type="text"].error,
body .form input[type="text"].error,
body form input[type="password"].error,
body .form input[type="password"].error,
body form input[type="date"].error,
body .form input[type="date"].error,
body form input[type="datetime"].error,
body .form input[type="datetime"].error,
body form input[type="email"].error,
body .form input[type="email"].error,
body form input[type="number"].error,
body .form input[type="number"].error,
body form input[type="search"].error,
body .form input[type="search"].error,
body form input[type="tel"].error,
body .form input[type="tel"].error,
body form input[type="time"].error,
body .form input[type="time"].error,
body form input[type="url"].error,
body .form input[type="url"].error,
body form select.error,
body .formselect.error,
body form textarea.error,
body .form textarea.error,
body form input[type="text"]:required,
body .form input[type="text"]:required,
body form input[type="password"]:required,
body .form input[type="password"]:required,
body form input[type="date"]:required,
body .form input[type="date"]:required,
body form input[type="datetime"]:required,
body .form input[type="datetime"]:required,
body form input[type="email"]:required,
body .form input[type="email"]:required,
body form input[type="number"]:required,
body .form input[type="number"]:required,
body form input[type="search"]:required,
body .form input[type="search"]:required,
body form input[type="tel"]:required,
body .form input[type="tel"]:required,
body form input[type="time"]:required,
body .form input[type="time"]:required,
body form input[type="url"]:required,
body .form input[type="url"]:required,
body form select:required,
body .form select:required,
body form textarea:required,
body .form textarea:required {
  border-color: #e74c3c !important;
  color: #e74c3c;
}

body form input[type="text"]:focus,
body .form input[type="text"]:focus,
body form input[type="password"]:focus,
body .form input[type="password"]:focus,
ody form input[type="date"]:focus,
body .form input[type="date"]:focus,
body form input[type="datetime"]:focus,
body .form input[type="datetime"]:focus,
body form input[type="email"]:focus,
body .form input[type="email"]:focus,
body form input[type="number"]:focus,
body .form input[type="number"]:focus,
body form input[type="search"]:focus,
body .form input[type="search"]:focus,
body form input[type="tel"]:focus,
body .form input[type="tel"]:focus,
body form input[type="time"]:focus,
body .form input[type="time"]:focus,
body form input[type="url"]:focus,
body .form input[type="url"]:focus,
body form select:focus,
body .form select:focus,
body form textarea:focus,
body .form textarea:focus {
  border-color: #1abc9c;
}

body form .select:after,
body .form .select:after {
  color: #dce4ec;
}

body form input[type="checkbox"],
body .form input[type="checkbox"],
body form input[type="radio"],
body .form input[type="radio"] {
  background: #fff;
  border: 2px solid #dce4ec;
}

body form input[type="checkbox"]:checked,
body .form input[type="checkbox"]:checked,
body form input[type="radio"]:checked,
body .form input[type="radio"]:checked {
  border-color: #1abc9c;
}

body form input[type="checkbox"]:checked:after,
body .form input[type="checkbox"]:checked:after,
body form input[type="radio"]:checked:after,
body .form input[type="radio"]:checked:after {
  color: #1abc9c;
}

body form input[type="checkbox"],
body .form input[type="checkbox"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

body form label,
body .form label {
  font-weight: bold;
}

body [data-control="checkbox"] {
  background: #a7babe;
  color: #dee5e7;
  font-weight: 700;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

body [data-control="checkbox"] label {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: #658289;
}

body [data-control="checkbox"].checked {
  background-color: #1abc9c;
  color: #fff !important;
}

body [data-control="checkbox"].checked label {
  background-color: #138d75;
}

body table {
  background: #fff;
  color: #34495e;
  border: .1em solid #c4d2df;
}

body table tr:nth-child(even) td {
  background-color: #f3f6f9;
}

body table th {
  background-color: #c4d2df;
  color: #fff;
}

body table td.highlight {
  background-color: #1abc9c !important;
  color: #fff;
}

body .button,
body button {
  color: #fff !important;
  font-weight: bold !important;
  -webkit-text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -ms-text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -o-text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
}

body .button:not(.transparent),
body button:not(.transparent) {
  background-color: #1abc9c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.1), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.1), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.1), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.1), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 .1em 0 rgba(255, 255, 255, 0.1), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -webkit-font-smoothing: antialiased;
}

body .button:not(.transparent):hover,
body button:not(.transparent):hover {
  -webkit-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.15), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.15), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -ms-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.15), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.15), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.15), inset 0 -.15em 0 rgba(0, 0, 0, 0.2), 0 .15em 0 rgba(0, 0, 0, 0.075);
}

body .button:not(.transparent):active,
body button:not(.transparent):active {
  -webkit-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.3), inset 0 .15em 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.3), inset 0 .15em 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.3), inset 0 .15em 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.3), inset 0 .15em 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5em rgba(0, 0, 0, 0.3), inset 0 .15em 0 rgba(0, 0, 0, 0.1);
}

body .button:not(.transparent).secondary,
body button:not(.transparent).secondary {
  background-color: #a7babe;
  color: #ecf0f1;
}

body .button:not(.transparent).success,
body button:not(.transparent).success {
  background-color: #2ecc71;
}

body .button:not(.transparent).alert,
body button:not(.transparent).alert {
  background-color: #e74c3c;
}

body .button:not(.transparent):disabled,
body button:not(.transparent):disabled,
body .button:not(.transparent).disabled,
body button:not(.transparent).disabled {
  background: rgba(255, 255, 255, 0.2);
  color: #999 !important;
}

body .button.transparent,
body button.transparent {
  background: none !important;
}

body .button .icon,
body button .icon {
  opacity: .6;
}

body div.img {
  background: #ecf0f1;
}

body :not(.icon).tag {
  color: #fff !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

[data-tuktuk="modal"] header {
  background: #1abc9c !important;
  color: #fff;
}

[data-tuktuk=boxes] aside {
  background: #fff;
  color: #476481;
}

[data-tuktuk=boxes] aside header {
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

[data-tuktuk=boxes] aside [data-menu] > a:not(.button) {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

[data-tuktuk=boxes] aside [data-menu] > a:not(.button).active {
  background: #1abc9c;
  color: #fff;
}
